<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>IDE Info</title>
	
	<script>
	function setCarValues(carJSON) {
		
	}
	</script>
</head>

<body>

Car Model: 
<select>
  <option value="admiral">admiral</option>
  <option value="airtug">airtug</option>
  <option value="ambulance">ambulance</option>
  <option value="banshee">banshee</option>
</select><br/>
Car color1: <br/>
Car color2: <br/>
Car color3: <br/>
Alarm: <br/>
<br/>
<a href="skp:cancelDialog@true">Cancel</a>
<a href="skp:applyIDEValues@true">Ok</a>
</body>

</html>